	#tabletitle{
		width:100%;,font-size:13px;height:40px;
	}
	table{
		width:100%;
	}
	.thgongji{
		width:70px;height:40px;padding:2px;color:#8C8C8C;font-weight:bold;
	}
	.thno{
		width:118px;height:40px;padding:2px;text-align:left;
	}
	.thtitle{
		width:506px;height:40px;padding:2px;text-align:left;
	}
	.thname{
	width:118px;height:40px;padding:2px;text-align:center;
	}
	.thdate{
	width:140px;height:40px;padding:2px;text-align:center;
	}
	.thview{
	width:68px;height:40px;padding:2px;text-align:center;
	}
	.imgst{
	width:210px; height:200px;
	}
	.reimg{
	width:70px;height:25px;}
	.secretimg{
	width:30px;height:25px;
	}
